.dw-table-wrapper tbody tr {
  background: white;
}
.dw-table-wrapper {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: auto;
}
.dw-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}
.dw-table-wrapper thead tr,
.dw-table-wrapper tfoot tr {
  background-color: #f3f0eb;
}
.dw-table-wrapper th,
.dw-table-wrapper td {
  font-size: 14px;
  padding: 14px;
  color: #0d2c52;
  background-color: transparent !important;
  word-break: break-word;
}
.dw-table-header {
  color: #f4952d;
  background: #0d2c52;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
}
.dw-header-row {
  font-size: 14px !important;
}
.dw-table-wrapper td:first-child,
.dw-table-wrapper th:first-child {
  text-align: left;
}
.dw-table-wrapper td:nth-child(2):not(:last-child),
.dw-table-wrapper th:nth-child(2):not(:last-child) {
  text-align: center;
}
.dw-table-wrapper td:last-child,
.dw-table-wrapper th:last-child {
  text-align: right;
}
.dw-table-wrapper tbody tr {
  border-bottom: 1px solid #f3f0eb;
}
.dw-table-wrapper tbody tr:last-child {
  border-bottom: none;
}
.dw-table-wrapper tfoot {
  font-weight: bold;
}
.dw-table-wrapper tfoot td {
  color: #172f4f;
}
.dw-acumulado-label {
  font-weight: 500 !important;
  font-size: 12px !important;
}
.dw-acumulado-total {
  color: #f4952d !important;
  font-weight: 600;
  font-size: 12px !important;
}
.dw-source {
  text-align: center;
  font-size: 12px;
  margin: 10px;
  color: #172f4f;
}
